alabaster==0.7.12
appdirs==1.4.3
asgiref==3.3.4
attrs==20.3.0
Babel==2.9.1
brotlipy==0.7.0
CacheControl==0.12.6
certifi==2019.11.28
cffi==1.14.3
chardet==3.0.4
charset-normalizer==2.0.7
colorama==0.4.3
conda==4.9.2
conda-package-handling==1.7.2
contextlib2==0.6.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.2.1
distlib==0.3.0
distro==1.4.0
Django==3.2.4
django-cors-headers==3.7.0
django-guardian==2.3.0
django-reset-migrations==0.4.0
django-rest-framework==0.1.0
djangorestframework==3.12.2
djangorestframework-api-key==2.0.0
djangorestframework-jwt==1.11.0
docutils==0.17.1
drf-yasg==1.20.0
future==0.18.2
gunicorn==20.1.0
html5lib==1.0.1
idna==2.8
imagesize==1.2.0
inflection==0.5.1
ipaddr==2.2.0
itypes==1.2.0
Jinja2==3.0.1
jsonref==0.2
jsonschema==3.2.0
lockfile==0.12.2
markdown-it-py==1.1.0
MarkupSafe==2.0.1
mdit-py-plugins==0.2.8
msgpack==0.6.2
myst-parser==0.15.2
packaging==20.3
pep517==0.8.2
pip==21.3.1
progress==1.5
pycosat==0.6.3
pycparser==2.20
Pygments==2.10.0
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
pyrsistent==0.17.3
PySocks==1.7.1
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2020.4
PyYAML==5.4.1
requests==2.26.0
retrying==1.3.3
rst2html==2020.7.4
ruamel_yaml==0.15.87
ruamel.yaml.clib==0.2.6
setuptools==50.3.1.post20201107
simplejson==3.17.5
six==1.14.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.2
toml==0.10.2
tqdm==4.51.0
uritemplate==3.0.1
urllib3==1.26.5
webencodings==0.5.1
wheel==0.35.1
