[Unit]
Description=portalusers gunicorn daemon
Requires=portal_users.socket
After=network.target

[Service]
User=beta_portal_user
Group=nginx
WorkingDirectory=/home/beta_portal_user/userdb/
ExecStart=/home/beta_portal_user/userdb/env/bin/gunicorn --workers 3 --bind 127.0.0.1:8080 portalusers.wsgi:application --access-logfile -

[Install]
WantedBy=multi-user.target
