[Unit]
Description=UserDB gunicorn daemon
Requires=userdb.socket
After=network.target

[Service]
User=beta_portal_user
Group=nginx
WorkingDirectory=/home/beta_portal_user/userdb/
ExecStart=/home/beta_portal_user/userdb/env/bin/gunicorn --workers 3 --bind unix:/var/run/userdb.sock portalusers.wsgi:application --access-logfile -

[Install]
WantedBy=multi-user.target
